<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="www.thymeleaf.org">
<head>
<title>Deposit</title>
</head>
<body>
    <form th:action="@{/depositForm}" th:object="${atm}" method="post">
        <div><label> Customer ID : <input type="text" name="custid" th:field="*{custId}"/> </label></div>
        <div><label> Acct # <input type="text" name="acct" th:field="*{acct}"/> </label></div>
        <div><label> Amount : <input type="text" name="amount" th:field="*{amount}"/> </label></div>
        <div><label> Reason <input type="text" name="reason" th:field="*{reason}"/> </label></div>
        <div><input type="submit" value="Continue"/></div>
    </form>
</body>
</html>