<!DOCTYPE html>
<html lang="en"  xmlns:th="www.thymeleaf.org">
<head>
    <title>Options</title>
</head>
<body>
<p th:text="${message}"></p>
<p>What would you like to do now?</p>
<!--<form th:action="@{/depo}" method="post">
    <div><input type="submit" value="Make a Deposit"/></div>
</form>
<form th:action="@{/with}" method="post">
    <div><input type="submit" value="Make a Withdrawal"/></div>
</form>
<form th:action="@{/hist}" method="post">
    <div><input type="submit" value="View Transaction History"/></div>
</form>-->
<a href="deposit.html">Make a deposit</a><br/>
<a href="withdraw.html">Make a withdrawal</a><br/>
<form th:action="@{/history}" th:object="${holder}" method="post">
    <div><label>View Transaction History for Acct #: <input type="text" name="acct" th:field="*{acct}"/> </label></div>
    <div><input type="submit" value="Continue"/></div>
</form>
<form th:action="@{/balance}" th:object="${holder}" method="post">
    <div><label>View Account Balance for Acct #: <input type="text" name="acct" th:field="*{acct}"/> </label></div>
    <div><input type="submit" value="Continue"/></div>
</form>
<br/>
<h2>Accounts</h2>
<div th:each="val : ${accounts}">
    <p th:text="'Account #: ' + ${val}">
    </p>
</div>
</body>
</html>